body {
  text-align: center;
}

.links a {
  font-size: 30px;
  color: dodgerblue;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0.96em, dodgerblue 1px);
  background-size: 1px 1em;
  background-repeat: repeat-x;
}

.links a:hover {
  color: #00bdff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0.96em, #00bdff 1px);
}

h1 {
  color: #666;
  font-weight: normal;
}